body {
  box-sizing: border-box;
  color: #333;
  background: #ffeeee;
}
header {
  text-align: center;
}
div.main {
  background: #fffcfc;
  border-radius: 50px;
  line-height: 2.0;
  width: 60vw;
  height: 90vh;
  margin: auto;
  text-align: center;
  /* padding: 20px 10px; */
}
div.container {
  padding-top: 10px;
  /* vertical-align: center; */
}
div.contents > textarea {
  margin-top: 20px;
  width: 80%;
  height: 125px;
  background: #fff;
  border-radius: 10px;
  border: 1.5px solid #ccc;
}

@media (max-width: 800px) {
  div.main {
    width: 90vw;
    height: 80vh;
  }
}
